@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

main {
  max-width: 80em;
  min-width: 30em;
  margin: 0 auto;
  height: 100%;
  margin-top: 0rem;
  padding-left: 5%; 
}

.mainLanding {
  padding: 0;
  width: 100%;
  margin: auto;
}

body {
  margin: 0;
}

.logo {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  padding: 0.1rem;
}

nav {
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav img {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 150px;
}

nav ul {
  float: right;
  margin-right: 50px;
  margin-top: 23px;
  list-style: none;

}

strong {
  font-weight: 550;
  opacity: 0.8;
}

nav ul li {
  display: inline-block;
  line-height: 0px;
  margin: 0px 5px;
}

nav ul li a.link {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding: 20px 30px;
  color: #123456;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  background-color: #ddd;
}

.home-item a {
  text-decoration: none;
  width: 80%;
}

#mail-home {
  background-color: #5f5fff;
  color: white;
}

#mail-home:hover {
  background-color: #123456;
}

label #sign-one,
label #sign-two {
  font-size: 30px;
  color: #123456;
  float: right;
  line-height: 70px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#res-menu {
  display: none;
}

.parallax {
  /* The image used */
  background-image: url("../images/graphic/Vouch/final_screens_mobile.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header-container {
  padding-top: 120px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #123456;
  opacity: 0.85;
  margin-bottom: 1rem;
  font-size: 56px;
  font-weight: 400;
  margin-top: 0rem;
  padding-top: 8rem;
  max-width: 800px;
  line-height: 54px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #123456;
  line-height: 25px;
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #123456;
  margin-bottom: 0.5rem;
  font-size: 24px;
  font-weight: 300;
  margin-top: 0rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  max-width: 800px;
  line-height: 36px;
}


h4 {
  font-family: 'Open Sans', sans-serif;
  color: #123456;
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  max-width: 700px;
  margin-bottom: 2rem;
}

h1.lab {
  padding-top: 13rem;
}

caption {
  font-family: 'Open Sans', sans-serif;
  color: #123456;
  font-size: 18px;
  font-style: italic;
}

.deskpad {
  padding: 5% 0 2.5% 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(30px);
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: #123456;
  line-height: 30px;
  font-weight: 400;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 1px solid #123456;
}

.portrait {
  margin-top: 80px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.labtitle {
  font-family: 'Montserrat', sans-serif;
  color: #123456;
  line-height: 30px;
  font-weight: 400;
  font-size: 25px;
  margin-top: 70px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 1px solid #123456;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;
  max-width: 700px;
  line-height: 30px;
  padding-bottom: 18px;
  margin-bottom: 18px;
  color: #123456;
}

.infobox {
  max-width: 700px;
  padding: 20px 20px 20px 40px;
  border-radius: 10px;
  background-color: beige;
}

ol {
  padding-left: 20px;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  max-width: 700px;
  line-height: 30px;
  padding: 10px 0 0 0;
  text-indent: 0%;
  margin: 0px;
  color: #123456;
}

p.des {
  margin-top: 1px;
  padding-top: 3px;
  margin-bottom: 30px;
}

p.view {
  margin-top: 0;
  margin-bottom: 1.3rem;
  color: #123456;
  font-size: 16px;
}

a.link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #123456;
  text-decoration: none;
  border-radius: 1em;
  padding: 10px 30px;
  background-color: #ddd;
  margin: 5px;
}

a.link:hover {
  background-position-y: 70%;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
  background: #123456;
}

a.underline {
  font-family: 'Open Sans', sans-serif;
  color: #FF965E;
  text-decoration: none;
}

.landContainer {
  position: relative;
  margin: 0;
  top: -90%;
  left: 70%;
  z-index: -1;
  filter: blur(30px);
}

.landblob {
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(180deg,
      rgba(47, 184, 255, 0.42) 31.77%,
      #5c9df1 100%);
  mix-blend-mode: color-dodge;
  animation: blobmove 25s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

.intro:hover .landblob {
  width: 408px;
  height: 408px;
  filter: blur(30px) brightness(170%);
  box-shadow:
    inset 0 0 0 5px rgba(255, 255, 255, 0.6),
    inset 100px 100px 0 0px #ff719b,
    inset 210px 210px 0 0px #784ba8,
    inset 300px 300px 0 0px #2b86c5;
}

@keyframes blobmove {
  from {
    transform: translate(-100px, 50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(300px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

.tilt-card {
  margin: 0;
  width: 75%;
  height: 300px;
  background: rgba(129, 253, 255, 0.5);
  border-radius: 2.5%;
  border-color: rgba(195, 195, 195, 0.25);
  border-style: solid;
  border-width: 1px;
  box-shadow: 20px 20px 35px rgba(17, 17, 84, 0.25);
  transform-style: preserve-3d;
  transform: perspective(1000px) translateZ(-2000px);
}

.tilt-card:hover {
  background: rgba(1, 94, 255, 0.65);
  transition: 300ms ease-in-out;
}

.tilt-card:hover p,
.tilt-card:hover h3 {
  color: #fff;
  filter: drop-shadow(0 0 20px #000);
  transition: 300ms ease-in-out;
}

.tilt-content {
  position: relative;
  scale: 0.9;
  width: 100%;
  transform: translateX(-20px) translateZ(150px);
}

.tilt-content img {
  margin: auto;
  width: 80%;
  filter: drop-shadow(1mm 1mm 5px #555);
  transform: translateX(25%) translateY(-60%) translateZ(5px);
}

.tilt-content p,
.tilt-content h3 {
  color: #010101;
  opacity: 1;
  font-size: 80%;
  line-height: 1.7;
  width: 100%;
  margin: 0;
  padding-left: 12.5%;
  padding-right: 10%;
  transform: translateZ(-25px);
}

.tilt-content h3 {
  font-size: large;
  padding-top: 5%;
  line-height: 1.5;
}

.tilt-spacer {
  margin: 10% 0 20% 0;
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform .5s ease;
}

.img-hover-zoom {
  position: relative;
  display: inline-block;
}

.cursor-geometric {
  position: absolute;
  top: 35%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in;
  z-index: -2;
}

.shape {
  width: 100%;
  height: 80%;
  padding: 25%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: #D8B4E2;
  opacity: 0.3;
  transition: clip-path filter opacity 3.5s ease-in-out;
}

.smooth-scroll :hover>.shape {
  background-color: #dfd5a5;
  opacity: 0.3;
}

.img-hover-zoom:hover img {
  transform: scale(1.05);
}

.fit {
  width: 100%;
}

.fit-content {
  width: 100 vw;
}

.fit-height {
  height: 100%;
}

.visible-mobile {
  display: none !important;
}

.work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 4em 6em;
  justify-content: center;
}

.sticky {
  overflow-y: hidden;
}

.blobcontainer {
  position: absolute;
  top: 0;
  margin: 60% auto;
  margin-left: 10%;
  height: 100vw;
  width: 80vw;
  filter: blur(50px) brightness(180%);
  -webkit-filter: blur(50px) brightness(210%);
  transform: translateZ(-1000px);
}

.workblob {
  position: absolute;
  margin: auto;
  height: 50%;
  padding: 20px;
  opacity: 0.5;
  filter: blur(10px) contrast(150%);
  -webkit-filter: blur(10px) contrast(150%);
  box-shadow:
    inset 0 0 0 5px rgba(255, 255, 255, 0.6),
    inset 20px 20px 0 0px #11c6b4;
}

.wblob1 {
  background: rgb(102, 82, 212);
  margin-top: 50%;
  margin-left: -5%;
  width: 40%;
  animation: move0 8.5s infinite alternate;
}

.wblob2 {
  background: rgb(255, 34, 108);
  margin-top: 35%;
  margin-left: 10%;
  width: 35%;
  animation: move1 8s infinite alternate;
}

.wblob3 {
  background: rgb(22, 161, 163);
  margin-top: 5%;
  margin-left: 30%;
  width: 20%;
  animation: move2 7.5s infinite alternate;
}

@keyframes move0 {
  from {
    transform: rotate(-25deg) translate(0px, 0px) scale(1.1, 0.8);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: rotate(15deg) translate(-200px, -350px) scale(0.8, 1);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move1 {
  from {
    transform: rotate(15deg) translate(50px, 0px);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }

  to {
    transform: rotate(-15deg) translate(350px, -350px);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }
}

@keyframes move2 {
  from {
    transform: rotate(-15deg) translate(0px, 0px);
    border-radius: 16% 54% 26% 57% / 68% 55% 45% 32%;
  }

  to {
    transform: rotate(45deg) translate(350px, 450px);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }
}

.other {
  display: grid;
  grid-template: repeat(1, 4fr)/repeat(4, 1fr);
  justify-content: space-evenly;
  grid-gap: 0.3rem;
}

.three-columns-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 3fr);
  grid-gap: 1rem;
}

.two-columns {
  display: flex;
  width: 80%;
  align-items: center;
}

.labgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5rem;
  padding-bottom: 20px;
  padding-top: 20px;
}

.about {
  margin-left: 0rem;
}

p.short-about {
  width: 40rem;
  line-height: 2rem;
}

.sidebar {
  align-items: left;
  justify-content: left;
  margin-left: 40px;
  position: relative;
  display: inline-block;
  background-color: #fff;
  z-index: 10;
}

.sidebar ul {
  top: 200px;
  position: fixed;
  list-style: none;
  padding: 10px;

}

.sidebar ul li {
  margin: 5px 0;
  text-shadow: 1px 1px 40px #fff;
}

.sidebar ul li a {
  text-decoration: none;
  color: #123456;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 25px;
  font-size: 15px;
}

.sidebar ul li a:hover {
  color: #FF965E;
}

.about-me {
  width: 100%;
  margin: 2rem 0 0 10rem;
}

iframe {
  width: 1080px;
  height: 600px;
}

hr {
  border: 1px solid #959595;
}

footer {
  margin: 50px;
  margin-top: 0;
  padding-top: 0.5%;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  transform: translateY(50px) translateZ(1000px);
}

.footer {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.footer a {
  margin: 10px 0 10px 0;
}

@media (min-width: 768px) and (max-width:1080px) {
  main {
    max-width: 40em;
    min-width: 10em;
    margin: 0 auto;
    padding-left: 0%;
  }

  .sidebar {
    display: none;
  }

  .deskpad {
    padding: 0;
  }

  iframe {
    width: 800px;
    height: 500px;
  }

  .deskgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em 2em;
  }

  .intro {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
  }

  .portrait {
    margin-top: 80%;
    align-items: center;
  }

  .tilt-card {
    width: 90%;
    box-shadow: 8px 8px 16px rgba(17, 17, 84, 0.25);
    ;
  }

  .tilt-content p,
  .tilt-content h3 {
    margin: 5% 0 0 10%;
    font-size: 70%;
    line-height: 150%;
  }

  .tilt-content h3 {
    padding-top: 10%;
    font-size: 85%;
  }

  .two-columns {
    grid-template-columns: repeat(1fr, 2fr);
    grid-template-rows: repeat(1fr, 1fr);
    grid-gap: 0px;
  }

  .three-columns-grid-gallery {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .three-columns-grid-gallery img {
    margin: 5%;
  }
}

@media (min-width: 1080px) and (max-width:1468px) {
  main {
    max-width: 60em;
    min-width: 10em;
    margin: 0 auto;
    padding-left: 0%;
  }

  .sidebar {
    display: none;
  }

  .deskpad {
    padding: 10% 10% 0 0;
  }

  iframe {
    width: 1000px;
    height: 550px;
  }
}

@media (min-width: 2160px) {

  .blobcontainer{
    display: none;
  }

}

@media (min-width: 280px) and (max-width:812px) {
  main {
    max-width: 24em;
    min-width: 18em;
    margin: 0;
    height: 100%;
    padding-bottom: 60px;
    padding-left: 10%;
  }

  body {
    margin: 0;
    min-height: 100%;
  }

  label #sign-one {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 95%;
    top: 30px;
    right: -80%;
    text-align: right;
    transition: .9s;
    z-index: 10;
    transform: translateZ(1000px);
  }

  nav ul li {
    display: block;
    margin: 10px 0px;
  }

  nav img {
    width: 60px;
    left: 20px;
    top: -10px;
  }

  nav ul li a.link {
    font-size: 20px;
    font-weight: 400;
    margin: 1px 0px;
  }

  .home-item {
    margin-left: 10%;
  }

  .home-item a {
    width: 100%;
    padding-top: 20%;
  }

  .infobox {
    max-width: inherit;
    padding: 20px;
    padding-left: 40px;
    ;
    margin-right: 20px;
    border-radius: 10px;
    background-color: beige;
  }

  .landContainer {
    overflow-x: hidden;
  }

  .gallery-img {
    margin-top: 10%;
  }

  .blobcontainer {
    display: none;
  }

  .portrait {
    margin-top: 10%;
  }

  .mobile-scale {
    transform: translateX(-120px);
    scale: 0.65;
  }

  #res-menu:checked~ul {
    left: 0;
  }

  #res-menu:checked~label #sign-one {
    display: none;
  }

  #res-menu:checked~label #sign-two {
    display: block;
  }

  h1,
  .homeheader {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
  }

  h1 {
    margin-top: 0rem;
    font-size: 2.4rem;
    font-weight: 400;
  }

  h1.homeheader {
    margin-bottom: 0.5rem;
    font-size: 29px;
    line-height: 37px;
    padding-top: 0rem;
  }

  .home-header-container {
    position: relative;
    padding: 20px 3% 80px 10%;
  }

  .homeheader {
    position: relative;
    z-index: 1;
  }

  .home-header-container h3 {
    position: relative;
    z-index: 0;
    margin-top: 40px;
  }

  h1.lab {
    padding-top: 80px;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.4rem;
    margin-top: 50px;
  }

  p {
    font-size: 17px;
    line-height: 28px;
  }

  p.short-about {
    max-width: 20rem;
  }

  .deskpad {
    padding: 0;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fit {
    width: 100%;
  }

  footer div {
    padding-bottom: 5%;
    text-align: justify;
  }

  footer .link {
    align-content: center;
    justify-content: center;
  }

  .new-paragraph a {
    display: block;
    font-size: 18px;
    line-height: 30px;
  }

  .work,
  .other {
    display: block;
  }

  .title {
    margin-left: 5%;
  }

  .tilt-spacer {
    margin-bottom: 50%;
  }

  .tilt-card {
    width: 90%;
    box-shadow: none;
  }

  .tilt-card img {
    scale: 1.2;
    padding-top: 20%;
  }

  .home-image {
    max-width: 22rem;
    margin: 2rem 1.5rem 0 1.5rem;
  }

  .home-image-vertical {
    max-width: 15rem;
    margin: 2rem 5rem 0 5rem;
  }

  .visible-mobile {
    display: inline !important;
  }

  .hidden-mobile {
    display: none !important;
  }

  .same-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .img-show {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    grid-gap: 0.5rem;
  }

  .intro {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 10px;
  }

  .two-columns,
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0px;
    margin-top: 0px;
    padding-top: 70px;
  }

  .about-me {
    width: 100%;
    margin: 2rem 0 0 0;
  }

  .footer-text {
    text-align: center;
  }

  footer {
    margin: 10px;
    font-size: xx-small;
    padding-left: 10%;
    padding-right: 10%;
  }

  .three-columns-grid {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0px;
  }

  .three-columns-grid h2 {
    margin-top: 20px;
  }

  .sidebar {
    display: none;
  }

  .objmain {
    margin-left: 1rem;
  }

  iframe {
    width: 300px;
    height: 200px;
  }

}